a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  margin-right: 15px;
}

.people {
  display: flex;
}

.people h1 {
  text-align: center;
  width: 100%;
}

.people > ul {
  padding: 0;
  width: 25%;
}

.people li {
  margin: 20px 0;
}

.people p {
  font-size: 12px;
}

.person {
  width: 60%;
  margin: 20px auto;
}

.person a {
  font-size: 12px;
}

.person p {
  font-size: 22px;
  margin-bottom: 0;
}

.person li {
  margin: 50px 0;
}
